[submodule "buildscripts"]
	path = buildscripts
	url = https://github.com/void-spark/esp32_win_buildscripts.git
[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2.git
